.sectionTitle  {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 1.75rem;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    text-align: center;
    background:red;

}
.accomodation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(238, 238, 238, 0.541);
        width: 90vw;
        height:85vh;
        background-image: url(https://fontawesome.com/social/chess-queen-alt?f=classic&s=&v=5);   
        background-size: cover;
        border-radius: 20px ;
    
}