#accomodation {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    color: black;
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    margin-bottom: 15vh;
}

.accom-container {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.sidebar {
    width: 15%;
    background-color: rgba(190, 161, 43, 0.719);

    padding: 1rem;
    border-radius: 8px; 
}

.sidebar-item {
    display: block;
    padding: 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

    .sidebar-item.active {
        background-color: rgb(146, 25, 49);
        color: white;
        font-weight: 800;
    }

    .sidebar-item:hover {
        background-color: rgb(146, 25, 49);
        color: white;

    }

.info-section {
    width: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

/* Diagonal overlay box */
.overlay-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1.5rem;
    height: 100%;
    width: 30%; /* Adjust width as needed */
    position: relative;
    border-radius: 8px;
    z-index: 1; /* Ensures the overlay is above the background image */
    margin-bottom: 1rem; /* Add some margin from the bottom */
    align-content: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}
.linkBtn {
    background-color: white;
    color: black;
}

/* Make sure the overlay box looks good on smaller screens */
