.home-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Keeps height based on viewport height */
    width: 90vw; /* Ensures it spans the full width of its container */

    color: white;
    margin: 0 auto;
    border-radius: 8px;
    background-size: cover;
    background-position: center; /* Centers background image */
    position: relative;
    overflow: hidden;
    transition: background-image 0.5s ease-in-out;
    margin-bottom: 5rem;
}

.slider-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent for readability */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.move {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: color 0.5s, background-color 0.3s;
}

.move:hover {
    color: rgb(214, 158, 4);
    background-color: rgba(0, 0, 0, 0.7);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
