.home-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Adjusted height */
    width: 90vw; /* Adjusted width */
    color: white;
    margin: 0 auto;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    transition: background-image 0.5s ease-in-out;
    z-index: 0;
    margin-bottom: 5rem;
}

.slider-content {
    background-color: rgba(0, 0, 0, 0.55); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.move {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: color 0.5s;
}

.move.prev {
    left: 10px;
}

.move.next {
    right: 10px;
}

.move:hover {
    color: rgb(214, 158, 4);
}
