.home-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Same height as .events */
    width: 90vw; /* Same width as .events */
    color: white;
    margin: 0 auto;
    border-radius: 8px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: background-image 0.5s ease-in-out;
    z-index: 0;
    margin-bottom: 5rem;
}

.slider-content {
   
    background-color: rgba(0, 0, 0, 0.555); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.move {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(156, 12, 12, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
}

button.prev {
    left: 10px;
}

button.next {
    right: -20px;
}
.move:hover {
    color: rgb(214, 158, 4);

}