/* Main Styling */

/* Main Navbar container */
.navbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(26, 26, 26);
    justify-content: space-around;
    align-items: center;
    transition: top 0.3s ease;
    position: fixed;
    top: 15vh;
    margin-bottom: 3vh;
    z-index: 5;
}

/* The red Title card that gets minimized on scroll */
.topBar {
    background-color: rgb(136, 12, 33);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    position: fixed;
    width: 100vw;
    transition: opacity 0.2s ease;
}

/* Container for the logo and gives it click events */
.logoButton {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    height: 8vh;
    width: 15%;
}

/* Styling of the actual Logo image */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: transparent; 
    transition: box-shadow 0.3s ease;
}

/* Main Container for the navigation links */
.desktopMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

/* Navigation Links */
.desktopMenuListItem {
    display: flex;
    justify-content: space-around;
    color: white;
    cursor: pointer;
}

/* Container for the Social Media icons */
.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* The Social Media Icons */
.icon {
    width: 2rem;
    height: 2rem;
}

/* EVENTS */

/* Attribute given to the topbar when the user has scrolled past the introduction */
.hidden {
    opacity: 0; /* Top bar becomes invisable */
    pointer-events: none; /* Top bar cannot be inteacted with */
}

.sticky {
    position: fixed;
    top: 0; /* Stick to the top of the viewport */
    left: 0;
    right: 0;
    z-index: 4; /* Ensure it appears above other elements */
    height: 5vh;
    transition: 0.5s;
}

.logo:hover {
    cursor: pointer; 
}

/* The Header of the Navbar */
.clubTitle {
    cursor:default;
}
