

.navbar {
    display: flex;
    width: 100vw;
    height: 11vh;
    background-color: rgb(199, 18, 49);
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    left: 0%;
    margin-bottom: 3vh;
    z-index: 5;
}
.logoButton {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    height: 8vh;
    width: 15%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}
.desktopMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.desktopMenuListItem {
    display: flex;
    justify-content: space-around;
    color: white;
}
.Contactbtn {
    width: 10%;
}