.resturantContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-bottom: 5vh;
}

.cardContainer {
    color: black;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    margin-bottom: 15vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}
.resturantCard:hover {
    transform: translateY(-10px);
}
.resturantCard {
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 8px;
    background-color: rgb(199, 18, 49);
    color: white;
    box-shadow: 9px 9px black;
    margin-top: 0;
    transition: 0.5s;
}
.title {
    
    background-color: rgb(199, 18, 49);
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 10px 10px black;
    border: 2px solid white;
    width: 90%;
    padding: 0.5rem;


}
.resturantImg {
    object-fit: cover;
    height:50%;
    width: 100%
}
.learnMoreButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
    color: black;
    font-weight: 700;
}
.resturantName {
    font-size: 1.25rem;
    margin-bottom: 5px;

}
.learnMoreButton:hover {
    background-color: rgb(199, 187, 18);
    color:white ;
    transition: 0.25s;
}