.MainContainer {
    height: 70vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    justify-self: center;
    margin-bottom: 5vh;
}
.PlayerCard {
    background-color: rgb(136, 12, 33);
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 10px 10px black;
    
}
.StatsContainer {
    width: 40%;
    background-color: rgb(136, 12, 33);
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 10px 10px black;
}
.GamesDatabase {
    width: 35%;
    background-color:rgb(136, 12, 33)  ;
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 10px 10px black;
}
.PictureContainer {
    border: 2px solid rgb(196, 161, 8);
    width: 75%;
}
.memberProfileImage {
    object-fit:fill;
    height:100%;
    width: 100%
}
.OrgContainer {
    background-color: rgb(70, 6, 17);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    border-radius: 0.5rem;
    


}
.EloContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.OrgLogo {
    object-fit:scale-down;
    width: 80px;
    height: 80px;

}
.EloText {
    background-color: rgba(0, 0, 0, 0.527);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0.5rem ;
    border-bottom-right-radius: 0.5rem;

}
.Text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;


}
.LogoPictureContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}