.memberDetails {
    background-color: black;
    padding: 1rem;
    width: 33%;


    

}
.smallNav {
    display: flex;
    color: black;

    align-items: center;
}

.memberProfileContainer {
    height: 85vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}