.manageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    color: rgb(0, 0, 0);
    margin-top: 0;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: black;
    padding: 20px;


}

.formLocation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.inputBox.manage {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.mainDisplayContainers {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.playerCardContainer {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px;
    overflow-y: scroll;
}

.playerCard {
    background-color: #FF7272;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.playerCard:hover {
    transform: translateY(-4px);
}

.playerImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.playerInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #333;
    padding-left: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonContainer button {
    background-color: #323233;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
    background-color: #ac1616;
}
