/* registration.css */

/* The flex container for both the form and the list */
.formAndList {
    display: flex;
    justify-content: center; /* Creates space between form and list */
    align-items: flex-start; /* Align the items to the top */
    height: 100%; /* Take full height of the parent */
    width: 90vw;
}

/* Form section */
.signUpSection {
    flex: 1;
    max-width: 48%; /* Optional: to give space for the list */
    margin-right: 20px; /* Add some margin to separate the two */
}

/* Registered list section */
.registeredListSection {
    flex: 1;
    max-width: 48%; /* Optional: to ensure they take up equal space */
    overflow-y: auto; /* Allow scrolling if content is too large */
}

/* Table styling for the Registered List */
.playersTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.playersTable th, .playersTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

.playersTable th {
    background-color: #f2f2f2;
}

/* If needed, set a fixed height for the whole page or form */
.registrationPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full viewport height */
    
}
