/* registration.css */

/* The flex container for both the form and the list */
.formAndList {
    display: flex;
    justify-content: center; /* Creates space between form and list */
    align-items: flex-start; /* Align the items to the top */
    height: 100%; /* Take full height of the parent */
    width: 100vw;
    
}

/* Form section */
.signUpSection {
    flex: 1;
    max-width: 48%; /* Optional: to give space for the list */
    margin-right: 20px; /* Add some margin to separate the two */
    
}

/* Registered list section */
.registeredListSection {
    flex: 1;
    max-width: 48%; /* Optional: to ensure they take up equal space */
    overflow-y: auto; /* Allow scrolling if content is too large */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Table styling for the Registered List */
.playersTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.playersTable th, .playersTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

.playersTable th {
    background-color: #f2f2f2;
}

/* If needed, set a fixed height for the whole page or form */
.registrationPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full viewport height */
    
}
.dark {
    --DarkBackground: #333;
    --DarkContentBackground: #666;
    --DarkText: #fff;
    --DarkBubble: #444;
    --DarkTitle: white;
    --DarkHighLight: #ff6666;
    --DarkBorder: 1px solid #666;
    --DarkSubmit: #009708;
    --DarkError: #ff6666;
    transition: 0.5s;

}
.dark .formAndList {
    background-color: var(--DarkBackground);
    transition: 0.5s;
}