#home {
    position: relative; /* Allows .homeContent to be positioned relative to #home */
    background-image: url('../assets/Wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 83vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 16px;
}

.homeContent {
    color: white;
    padding: 0.5rem;
    border-radius: 16px;
    position: absolute; /* Absolute positioning to align at the bottom */
    bottom: 0; /* Aligns the content to the bottom of the parent container (#home) */
    left: 0; /* Optional: aligns the content to the left */
    right: 0; /* Optional: aligns the content to the right */
    margin: 0 auto; /* Optional: centers the content horizontally */
    width: 100%; /* Ensures the content spans the full width */
    text-align: left; /* Center text inside the content */

}

.introHighlight {
    display: flex;
}
.introHighlight {
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
}
.introPara {
    padding: 0 0.75rem;
    font-size: 1.25rem;
}
.btn {
    margin: 0 0.5rem;
    margin-bottom: 2rem;
}