/* Light Mode (default) */
.wholeBar.light {
    background-color: #ffffff; /* White background for light mode */
    color: #f0f0f0; /* Light text for dark mode */
}

.topBar {
    background-color: #f0f0f0; /* Light background for the topBar */
    z-index: 1000000;
}
.wholeBar {
    width: 100vw;
    
}
.navbar.light {
    background-color: #ffffff; /* White navbar for light mode */
}

/* Dark Mode */
.wholeBar.dark {
    background-color: #1c1c1c; /* Dark background for dark mode */
    color: #f0f0f0; /* Light text for dark mode */
}

.topBar.dark {
    background-color: #333333; /* Dark background for the topBar */
}

.navbar.dark {
    background-color: #222222; /* Dark navbar for dark mode */
}

/* Toggle Switch Styles *
/* Existing styles for the wholeBar, topBar, navbar, etc. */

.darkModeButton {
    position: fixed;
    bottom: 20px; /* Distance from the bottom of the screen */
    right: 20px; /* Distance from the right of the screen */
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 100;
}

.darkModeButton:hover {
    background-color: #444;
}

.darkModeButton:focus {
    outline: none;
}

/* You can further customize the appearance of the button if needed */
.dark {
    background-color: var(--DarkBackground);
    transition: 0.8s;
}
