/* General Styles */
.signUpFormContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    transition: 0.5s;
}

.formTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #9E2A2F;
    transition: 0.5s;
}

.formField {
    margin-bottom: 20px;
}

.inputField,
.selectField {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    color: black;
    transition: 0.5s;
}

.radioField {
    margin-right: 5px;
    

}

.termsLabel {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.checkbox {
    margin-right: 10px;
}

.submitBtn {
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-self: center;

    transition: 0.5s;
}

.submitBtn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.eTransferEmail {
    display: flex;
    margin-top: 5px;
}




/* Dark Mode */
.dark {
    --DarkBackground: #333;
    --DarkContentBackground: #666;
    --DarkText: #fff;
    --DarkBubble: #444;
    --DarkTitle: white;
    --DarkHighLight: #ff6666;
    --DarkBorder: 1px solid #666;
    --DarkSubmit: #009708;
    --DarkError: #ff6666;
    transition: 0.5s;

}

.dark .inputField,
.dark .selectField {
    background-color: var(--DarkContentBackground);
    color: var(--DarkText);
    border: var(--DarkBorder);
    transition: 0.5s;
}

.dark .submitBtn {
    background-color: var(--DarkSubmit);
    transition: 0.5s;
}
.dark .formTitle {
    color: var(--DarkTitle);
    transition: 0.5s;
}
.dark .error {
    color: var(--DarkError);
    transition: 0.5s;
}

.dark .signUpFormContainer {
    background-color: var(--DarkBubble);
    color: var(--DarkText);
    transition: 0.5s;
}