.registeredListContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 100vh;
    transition: 0.5s;

}

.listTitle {
    font-size: 24px;
    margin-bottom: 15px;
    color: #9E2A2F;
    text-align: center;
    transition: 0.5s;
}


.playersTable {
    width: 100%;
    border-collapse: collapse;
    color: black;
    

}

.playersTable th,
.playersTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #242424;
    transition: 0.5s;
}

.playersTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    transition: 0.5s;
}
.playersTable tr {
    transition: 0.5s;
}
.playersTable tr:hover {
    background-color: #f1f1f1;
    transition: 0.5s;
}


/* Dark Mode */
.dark {
    --DarkBackground: #333;
    --DarkContentBackground: #666;
    --DarkText: #fff;
    --DarkBubble: #444;
    --DarkTitle: white;
    --DarkHighLight: #ff6666;
    --DarkBorder: 1px solid #666;
    --DarkSubmit: #009708;
    --DarkError: #ff6666;
    --DarkTransition: 0.5s;

}
.dark .listTitle {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--DarkText);
    text-align: center;
    transition: 0.5s;
}
.dark .playersTable th,
.dark .selectField
 {
    background-color: var(--DarkContentBackground);
    color: var(--DarkText);
    border: var(--DarkBorder);
    transition: 0.5s;
}
.dark .playersTable th {
    background-color: var(--DarkBackground);
    color: var(--DarkText);
    border: var(--DarkBorder);
    transition: 0.5s;
}

.dark .playersTable tr:hover {
    background-color: var(--DarkHighLight);
    transition: var(--DarkTransition);
    border: var(--DarkBorder);
    transition: 0.5s;
}
.dark .playersTable tr {
    background-color: var(--DarkContentBackground);
    color: var(--DarkText);
    border: var(--DarkBorder);
    transition: 0.5s;
}
.dark .registeredListContainer {

    background-color: var(--DarkBubble);
    transition: 0.5s;
    


}
